<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Personagens</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label routerLink="/menu">Voltar ao Menu</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/mario">Super Mario</ion-label>
      </ion-item>


      <ion-item>
        <ion-label routerLink="/peach">Princesa Peach</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/luigi">Luigi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/yoshi">Yoshi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/bowser">Bowser</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/toad">Toad</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/wario">Wario</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/waluigi">Waluigi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/daisy">Princesa Daisy</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/donkey-kong">Donkey Kong</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/diddy-kong">Diddy Kong</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/lakitu">Lakitu</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/shy-guy">Shy Guy</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/sobre">Sobre</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/login">Login</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/cadastrar">Cadastrar-se</ion-label>
      </ion-item>

    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="medium"></ion-menu-button>
        </ion-buttons>
        <ion-title>Rosalina</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" class="plano-de-fundo">

      <ion-row>
        <ion-col>
          <ion-accordion-group #accordionGroup>
            <ion-accordion value="first">
              <ion-item slot="header" color="success">
                <ion-label>Nome</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Rosalina
              </div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="success">
                <ion-label>Origem</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Rosalina é uma personagem fictícia criada pela Nintendo e é frequentemente retratada 
                como uma guardiã estelar.
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="success">
                <ion-label>Aparência</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Rosalina é retratada como uma mulher alta e elegante. Ela tem cabelos loiros longos e 
                olhos azuis profundos. Ela é geralmente vista usando um vestido azul celeste com detalhes 
                estelares e uma coroa estrelada.
              </div>
            </ion-accordion>
            <ion-accordion value="fourth">
              <ion-item slot="header" color="success">
                <ion-label>História</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                A história de Rosalina é contada no jogo "Super Mario Galaxy", revelando que ela era uma 
                menina terrestre que se tornou a guardiã da Galáxia e construiu sua própria nave espacial,
                a Comet Observatory.
              </div>
            </ion-accordion>
            <ion-accordion value="fifth">
              <ion-item slot="header" color="success">
                <ion-label>Personalidade</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Rosalina é conhecida por sua personalidade calma, gentil e maternal. Ela é retratada como 
                uma figura sábia e compassiva, cuidando dos Lumas, pequenas criaturas estelares, e sendo 
                protetora do cosmos. Ela é geralmente mostrada como uma pessoa tranquila e reservada.
              </div>
            </ion-accordion>

            <ion-accordion value="sixth">
              <ion-item slot="header" color="success">
                <ion-label>Papel nos Jogos</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Rosalina apareceu pela primeira vez como uma personagem principal em "Super Mario Galaxy" 
                em 2007. Ela desempenha um papel importante em jogos subsequentes, como "Super Mario 
                Galaxy 2" e "Super Mario 3D World". Rosalina também aparece em jogos de spin-off, como a 
                série "Mario Kart" e "Mario Party".
              </div>
            </ion-accordion>

            <ion-accordion value="third">
              <ion-item slot="header" color="success">
                <ion-label>Imagem</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-img src="https://mario.wiki.gallery/images/thumb/5/56/Rosalina-MPTop100-Transparent.png/1200px-Rosalina-MPTop100-Transparent.png"></ion-img>
              </div>
            </ion-accordion>
            
            
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    </ion-content>
  </div>
</ion-content>