.plano-de-fundo {
    --background: url('https://images.pexels.com/photos/14826118/pexels-photo-14826118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center / cover;
  }

  ion-menu::part(backdrop) {
    background-color:#012030;
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px #012030;
  }