<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Personagens</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label routerLink="/menu">Voltar ao Menu</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/mario">Super Mario</ion-label>
      </ion-item>


      <ion-item>
        <ion-label routerLink="/peach">Princesa Peach</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/luigi">Luigi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/bowser">Bowser</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/toad">Toad</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/wario">Wario</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/waluigi">Waluigi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/daisy">Princesa Daisy</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/rosalina">Rosalina</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/donkey-kong">Donkey Kong</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/diddy-kong">Diddy Kong</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/lakitu">Lakitu</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/shy-guy">Shy Guy</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/sobre">Sobre</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/login">Login</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/cadastrar">Cadastrar-se</ion-label>
      </ion-item>

    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="medium"></ion-menu-button>
        </ion-buttons>
        <ion-title>Yoshi</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" class="plano-de-fundo">

      <ion-row>
        <ion-col>
          <ion-accordion-group #accordionGroup>
            <ion-accordion value="first">
              <ion-item slot="header" color="success">
                <ion-label>Nome</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
               Yoshi
              </div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="success">
                <ion-label>Espécie</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Yoshi é uma espécie de dinossauro antropomórfico.
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="success">
                <ion-label>Aparência</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Yoshi tem uma aparência distinta, com uma pele verde, olhos grandes e um focinho longo. 
                Ele geralmente tem um sorriso amigável em seu rosto e um par de sapatos grandes. Existem 
                variações de cores de Yoshi, como o Yoshi vermelho, azul, amarelo, entre outros.
              </div>
            </ion-accordion>
            <ion-accordion value="fourth">
              <ion-item slot="header" color="success">
                <ion-label>Habilidades</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Yoshi é conhecido por sua habilidade única de engolir inimigos com sua longa língua e 
                transformá-los em ovos que podem ser usados como projéteis. Ele também tem a capacidade 
                de planar temporariamente no ar usando suas asas curtas.
              </div>
            </ion-accordion>
            <ion-accordion value="fifth">
              <ion-item slot="header" color="success">
                <ion-label>Personalidade</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Yoshi é retratado como um personagem alegre, leal e corajoso. Ele é conhecido por sua 
                natureza brincalhona e por ser um grande amigo de Mario e seus companheiros.
              </div>
            </ion-accordion>

            <ion-accordion value="sixth">
              <ion-item slot="header" color="success">
                <ion-label>Papel nos Jogos</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Yoshi apareceu pela primeira vez como um personagem jogável no jogo "Super Mario World" em 
                1990. Desde então, ele estrelou em vários jogos próprios, como a série "Yoshi's Island" e 
                "Yoshi's Woolly World".
              </div>
            </ion-accordion>

            <ion-accordion value="third">
              <ion-item slot="header" color="success">
                <ion-label>Imagem</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-img src="https://upload.wikimedia.org/wikipedia/pt/4/48/Yoshi.png"></ion-img>
              </div>
            </ion-accordion>
            
            
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    </ion-content>
  </div>
</ion-content>
