<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Personagens</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label routerLink="/menu">Voltar ao Menu</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/mario">Super Mário</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/luigi">Luigi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/yoshi">Yoshi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/bowser">Bowser</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/toad">Toad</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/wario">Wario</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/waluigi">Waluigi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/daisy">Princesa Daisy</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/rosalina">Rosalina</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/donkey-kong">Donkey Kong</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/diddy-kong">Diddy Kong</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/lakitu">Lakitu</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/shy-guy">Shy Guy</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/sobre">Sobre</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/login">Login</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/cadastrar">Cadastrar-se</ion-label>
      </ion-item>

    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="medium"></ion-menu-button>
        </ion-buttons>
        <ion-title>Princesa Peach</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" class="plano-de-fundo">

      <ion-row>
        <ion-col>
          <ion-accordion-group #accordionGroup>
            <ion-accordion value="first">
              <ion-item slot="header" color="success">
                <ion-label>Nome</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Nome: Princesa Peach Toadstool<br>
                Títulos alternativos: Princesa Peach, Princesa Toadstool
              </div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="success">
                <ion-label>Ocupação</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                Princesa do Reino do Cogumelo
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="success">
                <ion-label>Aparência</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                A Princesa Peach é retratada como uma jovem princesa de cabelos loiros, olhos azuis e uma 
                pele clara. Ela geralmente é vista usando um vestido cor-de-rosa longo, com detalhes 
                decorativos e uma coroa na cabeça.
              </div>
            </ion-accordion>
            <ion-accordion value="fourth">
              <ion-item slot="header" color="success">
                <ion-label>Personalidade</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                A Princesa Peach é retratada como uma personagem amável, gentil e otimista. Ela é 
                conhecida por sua bondade e compaixão, além de ser uma figura importante para o Reino 
                do Cogumelo.
              </div>
            </ion-accordion>
            <ion-accordion value="fifth">
              <ion-item slot="header" color="success">
                <ion-label>Relação com Mário</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                A Princesa Peach é frequentemente retratada como a principal interesse romântico de Mario. 
                Ela muitas vezes é capturada pelo vilão Bowser, levando Mario a embarcar em aventuras para resgatá-la.
              </div>
            </ion-accordion>

            <ion-accordion value="sixth">
              <ion-item slot="header" color="success">
                <ion-label>Papel nos Jogos</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                : A Princesa Peach aparece em vários jogos da franquia Mario, onde às vezes desempenha um 
                papel jogável. Ela também é conhecida por suas habilidades de flutuação, como visto em 
                jogos como "Super Mario Bros. 2".
              </div>
            </ion-accordion>

            <ion-accordion value="third">
              <ion-item slot="header" color="success">
                <ion-label>Imagem</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-img src="https://cdnb.artstation.com/p/assets/images/images/062/016/497/large/-3-1.jpg?1682150362"></ion-img>
              </div>
            </ion-accordion>
            
            
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    </ion-content>
  </div>
</ion-content>