<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Personagens</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label routerLink="/menu">Voltar ao Menu</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/mario">Super Mário</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/luigi">Luigi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/yoshi">Yoshi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/bowser">Bowser</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/toad">Toad</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/wario">Wario</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/waluigi">Waluigi</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/daisy">Princesa Daisy</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/rosalina">Rosalina</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/donkey-kong">Donkey Kong</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/diddy-kong">Diddy Kong</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/lakitu">Lakitu</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/shy-guy">Shy Guy</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/sobre">Sobre</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/login">Login</ion-label>
      </ion-item>

      <ion-item>
        <ion-label routerLink="/cadastrar">Cadastrar-se</ion-label>
      </ion-item>

    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="medium"></ion-menu-button>
        </ion-buttons>
        <ion-title>Princesa Peach</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" class="plano-de-fundo">

      <ion-row>
        <ion-col>
          <ion-accordion-group #accordionGroup>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Apresentação do Personagem</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">A Princesa Peach Cogumelo é uma personagem fictícia
                 da série de videogames Super Mario Bros., produzido pela Nintendo. Ela é a princesa do 
                 também fictício Reino dos Cogumelos e por diversas vezes faz o papel de donzela em 
                 apuros da série, sendo constantemente salva por Mario, por quem ela é apaixonada.</div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="light">
                <ion-label>Sobre o Personagem</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">Peach é elegante, dócil, inteligente, pura e 
                aventureira. Seu coração é extremamente caloroso, de modo que ela age sempre priorizando 
                amigos, cidadãos e até inimigos ao invés de si mesma, se preocupando e sentindo compaixão 
                por eles. Mesmo sendo gentil por natureza, Peach é obstinada e é capaz de se manter facilmente durante 
                competições e, embora seja normalmente tachada de donzela em apuros e considerada incapaz, 
                ela frequentemente está presente como um dos principais auxiliadores, entregando informações vitais 
                e itens, até mesmo quando é capturada.</div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="light">
                <ion-label>Características</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">A princesa Peach tem cabelos longos e loiros 
                (exceto em Super Mario Bros. 2 e Super Mario Bros. 3, onde ela tem cabelos castanhos), 
                olhos azuis, corpo alto (média de 39 polegadas ou 91cm), uma figura de ampulheta e uma 
                tez rosada. Ela geralmente usa um vestido cor-de-rosa com uma bainha de babados, mangas 
                curtas bufantes, uma gola com babados e uma saia por cima de um cós. Seus acessórios são 
                saltos altos vermelhos, luvas longas de ópera brancas, um broche de safira, brincos de 
                safira, e uma coroa dourada adornada com safiras e rubis.</div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    </ion-content>
  </div>
</ion-content>