ion-menu::part(backdrop) {
    background-color:#012030;
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px #012030;
  }
  
.plano-de-fundo {
    --background: url('https://upload.wikimedia.org/wikipedia/en/b/bd/Daisy_%28Super_Mario_Party%29.png') no-repeat center center / cover;
  }